*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
}

.encabezado{
    display: flex;
}
.logo{
    margin: auto;
}
.imgLogo{
    width: auto;
    height: 100px;
}

.btn {
    background: #8b4513;
    border: #8b4513;
}