<mat-toolbar>
    <button *ngIf="authService.isAutenticado" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>VerduritasFit</span>
    <span class="example-spacer"></span>
    <button *ngIf="authService.isAutenticado" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>
    <div *ngIf="!authService.isAutenticado">
        <div style="width: 100%;">
            <a mat-button style="width: 100%; text-align: left;" routerLink="login">Iniciar Sesion</a>
        </div>
    </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: auto;">
        <!-- <button mat-button [matMenuTriggerFor]="menu" style="width: 90%;">Menu</button>
            <mat-menu #menu="matMenu" style="width: 100%;">
            <button mat-menu-item >Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu> -->
        <div *ngIf="authService.isAutenticado">
            <div style="width: 100%;">
                <a mat-button style="width: 100%; text-align: left;" routerLink="">Home</a>
            </div>
            <div style="width: 100%;">
                <a mat-button style="width: 100%; text-align: left; margin-top: 10px;" routerLink="tienda">Tienda</a>
            </div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mantenimiento
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="width: 100%;">
                        <a mat-button style="width: 100%; text-align: left;" routerLink="mantenimientoCategoria">Categoria</a>
                    </div>
                    <div style="width: 100%;">
                        <a mat-button style="width: 100%; text-align: left;" routerLink="mantenimientoObjetivo">Objetivo</a>
                    </div>
                    <div style="width: 100%;">
                        <a mat-button style="width: 100%; text-align: left;" routerLink="mantenimientoPedido">Pedido</a>
                    </div>
                    <div style="width: 100%;">
                        <a mat-button style="width: 100%; text-align: left;" routerLink="mantenimientoPlatillo">Platillo</a>
                    </div>
                    <div style="width: 100%;">
                        <a mat-button style="width: 100%; text-align: left;" routerLink="mantenimientoUsuario">Usuario</a>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>