<div>
    <div id="shop">
        <div class="products android google" id="pixel-2" *ngFor="let plato of platillo">
            <img class="product-image" src="https://image.shutterstock.com/image-photo/meat-vegetables-600w-3430779.jpg">    <br>
            <p class="product-name">{{plato.nombre}}</p>
            <p class="product-description">{{plato.descripcion}}</p>
            <p class="product-price" value='876'>{{plato.precio}}</p>
            <a href="#" class="cta">Comprar</a>
        </div>
    </div>
</div>
   
    