<div
  class="abrir-modal animacion fadeIn"
  *ngIf="this.modalService.switchModalCrudCliente"
  (click)="cerrarModal()"
>
  <div
    class="modal color-fondo d-flex justify-content-center align-items-center"
    tabindex="-1"
    role="dialog"
    style="display: block"
  >
    <div
      class="modal-dialog modal-lg ancho-modal"
      role="document"
      (click)="$event.stopPropagation()"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-success">{{ titulo }}</h1>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Inicio-->
          <form #clienteForm="ngForm">
            <div class="form-group row mb-5">
              <label for="" class="col-form-label col-sm-2">Nombre</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.nombres"
                  name="nombre"
                  #nombre="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                >
                  <div *ngIf="nombre.errors?.['required']">
                    El nombre del visitante es Requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5">
              <label for="" class="col-form-label col-sm-2">Apellido</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.apellidos"
                  name="apellido"
                  #apellido="ngModel"
                  required
                /><!-- -->
                <div
                  class="alert alert-danger"
                  *ngIf="
                    apellido.invalid && (apellido.dirty || apellido.touched)
                  "
                >
                  <div *ngIf="apellido.errors?.['required']">
                    El apellido es requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5">
              <label for="" class="col-form-label col-sm-2">DNI</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.dni"
                  name="dni"
                  #dni="ngModel"
                  required
                  minlength="8"
                  maxlength="8"
                  pattern="[0-9]*"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="dni.invalid && (dni.dirty || dni.touched)"
                >
                  <div *ngIf="dni.errors?.['required']">
                    El DNI es requerido
                  </div>
                  <div *ngIf="dni.errors?.['minlength']">
                    DNI debe tener 8 Caracteres.
                  </div>
                  <div *ngIf="dni.errors?.['maxlength']">
                    DNI debe tener 8 Caracteres.
                  </div>
                  <div *ngIf="dni.errors?.['pattern']">
                    El DNI solo puede contener caracteres numéricos.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5">
              <label for="" class="col-form-label col-sm-2">Correo</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.correo"
                  name="correo"
                  #correo="ngModel"
                  required
                  email
                /><!-- -->
                <div
                  class="alert alert-danger"
                  *ngIf="correo.invalid && (correo.dirty || correo.touched)"
                >
                  <div *ngIf="correo.errors?.['required']">
                    El Correo es requerido
                  </div>
                  <div *ngIf="correo.errors?.['email']">
                    Debe ingresar un correo válido
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-5">
              <label for="" class="col-form-label col-sm-2">Direccion</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="cliente.direccion"
                  name="direccion"
                  #direccion="ngModel"
                  required
                /><!-- -->
                <div
                  class="alert alert-danger"
                  *ngIf="
                    direccion.invalid && (direccion.dirty || direccion.touched)
                  "
                >
                  <div *ngIf="direccion.errors?.['required']">
                    La Dirección es requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="" class="col-form-label col-sm-2"
                >Fecha de nacimiento</label
              >
              <div class="col-sm-6">
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="cliente.fechaNacimiento"
                  name="fechaNacimiento"
                  #fechaNacimiento="ngModel"
                  required
                />
                <div
                  class="alert alert-danger"
                  *ngIf="
                    fechaNacimiento.invalid &&
                    (fechaNacimiento.dirty || fechaNacimiento.touched)
                  "
                >
                  <div *ngIf="fechaNacimiento.errors?.['required']">
                    La fecha de nacimeinto es obligatorio
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 5%">
              <div class="col-lg-4">
                <label for="id_act_departamento">Departamento</label>
                <select
                  [(ngModel)]="cliente.ubigeo!.departamento"
                  (change)="cargaProvincia()"
                  id="id_act_departamento"
                  name="departamento"
                  class="form-control"
                  #validaDepartamento="ngModel"
                  required
                >
                  <option value="">[Seleccione]</option>
                  <option *ngFor="let aux of departamentos" value="{{ aux }}">
                    {{ aux }}
                  </option>
                </select>
                <div
                  *ngIf="
                    validaDepartamento.invalid &&
                    (validaDepartamento.dirty || validaDepartamento.touched)
                  "
                  class="alert alert-danger"
                >
                  El Departamento es obligatorio
                </div>
              </div>

              <div class="col-lg-4">
                <label for="id_act_provincia">Provincia</label>
                <select
                  [(ngModel)]="cliente.ubigeo!.provincia"
                  (change)="cargaDistrito()"
                  id="id_act_provincia"
                  name="provincia"
                  class="form-control"
                  #validaProvincia="ngModel"
                  required
                >
                  <option value="">[Seleccione]</option>
                  <option *ngFor="let aux of provincias" value="{{ aux }}">
                    {{ aux }}
                  </option>
                </select>
                <div
                  *ngIf="
                    validaProvincia.invalid &&
                    (validaProvincia.dirty || validaProvincia.touched)
                  "
                  class="alert alert-danger"
                >
                  El Provincia es obligatorio
                </div>
              </div>

              <div class="col-lg-4" *ngIf="cliente.ubigeo">
                <label for="id_act_distrito">Distrito</label>
                <select
                  [(ngModel)]="cliente.ubigeo!.idUbigeo"
                  name="distrito"
                  class="form-control"
                  #validaDistrito="ngModel"
                  required
                  pattern="[0-9]{1,9}"
                >
                  <option value="-1">[Seleccione]</option>
                  <option
                    *ngFor="let aux of distritos"
                    value="{{ aux.idUbigeo }}"
                  >
                    {{ aux.distrito }}
                  </option>
                </select>
                <div
                  *ngIf="
                    validaDistrito.invalid &&
                    (validaDistrito.dirty || validaDistrito.touched)
                  "
                  class="alert alert-danger"
                >
                  El Distrito es obligatorio
                </div>
              </div>
            </div>

            <div class="form-group d-flex justify-content-end mt-5">
              <div class="">
                <button
                  class="btn btn-primary"
                  role="button"
                  *ngIf="cliente.idCliente == null"
                  (click)="registrar()"
                  [disabled]="!clienteForm.form.valid"
                >
                  Registrar
                </button>
                <button
                  class="btn btn-primary"
                  role="button"
                  *ngIf="cliente.idCliente != null"
                  (click)="actualizar()"
                  [disabled]="!clienteForm.form.valid"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </form>

          <!--FIN-->
        </div>
      </div>
    </div>
  </div>
</div>
