<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Registrar producto</title>

	<!-- Custom fonts for this template -->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/sb-admin-2.min.css}" href="css/sb-admin-2.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
        <ul th:replace="blank::slideBar"></ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="blank::topBar"></nav>
                <!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Registro de Productos</h1>
					<!-- DataTales Example -->
					<section class="vh-100 gradient-custom" style="padding-top:0px;">
						<div class="container py-5 h-100">
							<div class="row justify-content-center align-items-center h-100">
								<div class="col-12 col-lg-9 col-xl-7">
									<div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
										<div class="card-body p-4 p-md-5">

											<!-- FORMULARIO -->
											<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Formulario</h3>
											<form th:object="${producto}" th:action="@{/guardarProducto}" method="post" id="productoForm">
												<div class="form-group row">
													<label for="text" class="col-4 col-form-label">ID:</label>
													<div class="col-8">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">
																	<i class="fa fa-address-card"></i>
																</div>
															</div>
															<input th:field="*{IdProducto}" id="idProducto" type="number" class="form-control" required="required" placeholder="Ingresar ID del producto" maxlength="6">
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label for="text1" class="col-4 col-form-label">NOMBRE:</label>
													<div class="col-8">
														<input th:field="*{NomProducto}" id="nombreProducto" type="text" class="form-control" placeholder="INGRESAR NOMBRE" required="required">
													</div>
												</div>
												<div class="form-group row">
													<label for="textarea" class="col-4 col-form-label">DESCRIPCION:</label>
													<div class="col-8">
														<input th:field="*{DesProducto}" id="descripcionProducto" name="comment" class="form-control" required="required" placeholder="INGRESAR DESCRIPCION">
													</div>
												</div>
												<div class="form-group row">
													<label for="text3" class="col-4 col-form-label">PRECIO UNIDAD:</label>
													<div class="col-8">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">
																	<i class="fa fa-money"></i>
																</div>
															</div>
															<input th:field="*{precioUnidad}" id="precioUnidad"  type="number" class="form-control" required="required">
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label for="text2" class="col-4 col-form-label">Stock:</label>
													<div class="col-8">
														<input th:field="*{StockProducto}" id="stockProducto" type="number" class="form-control" required="required">
													</div>
												</div>
												<div class="form-group row">
													<label for="text4" class="col-4 col-form-label">UNIDADES EN PEDIDO:</label>
													<div class="col-8">
														<input th:field="*{unidadesEnPedido}" id="unidadesEnPedido" type="number" class="form-control" required="required">
													</div>
												</div>
												<div class="form-group row">
													<label for="text5" class="col-4 col-form-label">IMAGEN:</label>
													<div class="col-8">
														<div class="input-group">
															<div class="input-group-prepend">
																<div class="input-group-text">
																	<i class="fa fa-file-image-o"></i>
																</div>
															</div>
															<input th:field="*{imag}" id="imagenProducto" type="text" class="form-control" required="required">
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label for="text6" class="col-4 col-form-label">CATEGORIA:</label>
													<select id="categoriaProductos" class="form-control" th:field="*{codCategoria}">
														<option value="-1" selected>Seleccione...</option>
														<option  th:each="ct : ${lstCategoria}" 
																	th:value="${ct.codCategoria}"  th:text="${ct.nomCategoria}"></option>
													</select>
												</div>
												<div class="form-group row">
													<div class="offset-4 col-8">
														<button type="submit" class="btn btn-primary">REGISTRAR</button>
													</div>
												</div>-->
											</form> 
											<!-- FIN DEL FORMULARIO -->

										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
            <footer th:replace="blank::footer"></footer>
            <!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
    <div th:replace="blank::logoutModal"></div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/datatables-demo.js"></script>

</body>

</html>