<div class="abrir-modal animacion fadeIn" *ngIf="this.modalService.switchModalCrudMarca" (click)="cerrarModal()">
  <div class="modal color-fondo d-flex justify-content-center align-items-center" tabindex="-1" role="dialog"
    style="display: block">
    <div class="modal-dialog modal-lg ancho-modal" role="document" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-success">{{ titulo }}</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Inicio-->
          <form #marcaForm="ngForm">
            <div class="form-group row">
              <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="marca.nombre" name="nombre" id="nombre" required
                  minlength="3" #nombre="ngModel">
              </div>
              <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['required']">
                  Nombre es requerido.
                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                  Nombre debe tener al menos 3 Caracteres.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="Descripcion" class="col-form-label col-sm-2">Descripcion</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="marca.descripcion" name="descripcion"
                  #descripcion="ngModel" required>
              </div>
              <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors?.['required']">
                  Descripcion es requerido.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="fechaVigencia" class="col-form-label col-sm-2">Fecha de Vigencia</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" [(ngModel)]="marca.fechaVigencia" name="fechaVigencia" required
                  date #fecha="ngModel">
              </div>
              <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                <div *ngIf="fecha.errors?.['required']">
                  Fecha es requerida.
                </div>
              </div>
            </div>

            
            <div class="form-group row">
              <label for="certificado" class="col-form-label col-sm-2">Certificado</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="marca.certificado" name="certificado" required
                  #certificado="ngModel" minlength="9" maxlength="9">
              </div>
              <div class="alert alert-danger" *ngIf="certificado.invalid && (certificado.dirty || certificado.touched)">
                <div *ngIf="certificado.errors?.['required']">
                  Certificado es requerido.
                </div>
                <div *ngIf="certificado.errors?.['minlength']">
                  Certificado debe tener 9 caracteres.
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label for="pais" class="col-form-label col-sm-2">Pais</label>
              <div class="col-sm-6">
                <select id="pais" name="pais" class="form-control" [(ngModel)]="marca.pais!.idPais">
                  <option value="-1"> [Seleccione] </option>
                  <option *ngFor="let aux of pais" value="{{aux.idPais}}">
                    {{aux.nombre}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group d-flex justify-content-end mt-5">
              <div class="">
                <button class="btn btn-primary" role="button" *ngIf="marca.idMarca == null" (click)="registrar()"
                  [disabled]="!marcaForm.form.valid">
                  Registrar
                </button>
                <button class="btn btn-primary" role="button" *ngIf="marca.idMarca != null" (click)="actualizar()"
                  [disabled]="!marcaForm.form.valid">
                  Actualizar
                </button>
              </div>
            </div>
          </form>
          <!--FIN-->
        </div>
      </div>
    </div>
  </div>
</div>