<div class="container" style="margin-top: 100px; display: flex">
  <div style="width: 50%; margin: 10px;">
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaCliente')]" class="btn btn-success" style="width: 100%">
        Cliente
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaMarca')]" class="btn btn-success" style="width: 100%">
        Marca
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaProducto')]" class="btn btn-success" style="width: 100%">
        Producto
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaProveedor')]" class="btn btn-success" style="width: 100%">
        Proveedor
      </a>
    </div>
  </div>

  <div style="width: 50%; margin: 10px;">
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaReclamo')]" class="btn btn-success" style="width: 100%">
        Reclamo
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaSede')]" class="btn btn-success" style="width: 100%">
        Sede
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaPedido')]" class="btn btn-success" style="width: 100%">
        Pedido
      </a>
    </div>
    <div class="" style="margin: 5px;">
      <a [routerLink]="[('/consultaComprobante')]" class="btn btn-success" style="width: 100%">
        Comprobante
      </a>
    </div>
  </div>
</div>
